<launch>

    <arg name="gazebo_headless" default="false" />
    <param name="gazebo_headless" value="$(arg gazebo_headless)" />

    <!-- Spawn World -->
    <arg name="world_name" default="world1.yaml" />
    <param name="world_name" value="$(arg world_name)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="gui" value="true" if="$(eval arg('gazebo_headless') == 'false')" />
        <arg name="headless" value="$(arg gazebo_headless)" />
    </include>
     <node name="spawn_world" pkg="spot_IL_environment" type="spawn_world.py" output="screen" />

    <!-- Spawn Spot Robot -->
    <param name="robot_description" textfile="$(find spot_IL_environment)/models/spot/spot_box.urdf" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model spot -x 0 -y 0 -z 0.68 -R 0 -P 0 -Y 1.2"/>
</launch>
